<ion-header>
  <ion-toolbar>
    <ion-title>
      Timeline
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card  *ngFor="let item of picture; let i = index" [attr.data-index]="i">
        <img class="imageholder" src="{{picture[i].file}}">
        {{picture[i].caption}}
      <ion-item>
        <ion-label>
          <ion-icon name="chatbubbles"></ion-icon></ion-label>
          <ion-input type="text" [(ngModel)]="pushcomment"></ion-input>
        <ion-button type="submit" (click)="addcomment(item.id)">post</ion-button>
      </ion-item>
      <ion-label *ngFor="let com of comment">
          <p *ngIf="com.imageID==item.id"><font size="3">{{com.comment_text}}</font></p>
      </ion-label>
    </ion-card>
</ion-content>
