<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" padding>
  <input type="file" accept="image/*" ng2FileSelect [uploader]="fileUploader" multiple />


  <ion-button (click)="uploadFiles()">Upload</ion-button>

  <h2>Your files: {{ fileUploader?.queue?.length }}</h2>
  <ul>
      <li *ngFor="let item of fileUploader.queue">
    {{ item?.file?.name }}
    </li>
  </ul>
  <ion-item>
      <ion-label position="floating">เขียนคำบรรยายภาพ</ion-label>
      <ion-textarea [(ngModel)]="caption"></ion-textarea>
  </ion-item>
  <li *ngFor="let item of picture; let i = index" [attr.data-index]="i">     
      <img class="imageholder" src="{{picture[i].file}}">
  </li>
</ion-content>  