<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" padding>
  <input type="file" accept="image/*" ng2FileSelect [uploader]="fileUploader" multiple />


  <ion-button (click)="uploadFiles()">Upload</ion-button>

  <h2>Your files: {{ fileUploader?.queue?.length }}</h2>
  <ul>
    <li *ngFor="let item of fileUploader.queue">
=      {{ item?.file?.name }}
      <!-- <ion-img class="imageholder" [src]="item?.image?" > -->
    </li>
  </ul>
  <ion-item *ngFor="let i of picture">
      <img class="imageholder" src="{{i.file}}">
  </ion-item>

</ion-content>  